force-app/main/default/flows/Get_Slots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Slots</name>
        <label>Get Slots</label>
        <locationX>528</locationX>
        <locationY>130</locationY>
        <actionName>Scheduler.getSlots</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>var_req</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_resource_and_territory_ids</name>
        <label>Add resource and territory ids</label>
        <locationX>79</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>var_resourceIdsColl</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0Hn54000000CkQOCA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_territoryIdsColl</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0Hh54000000CiIkCAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Req_Params</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Req_Params</name>
        <label>Assign Req Params</label>
        <locationX>301</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>var_req.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0015400000ZN9i4AAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_req.requiredResourceIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_resourceIdsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_req.territoryIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_territoryIdsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_req.workType.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q54000000D199AAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Slots</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Get Slots {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Slots</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>480</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screen_err</name>
            <fieldText>&lt;p&gt;{!Get_Slots.200.timeSlots}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_err1</name>
            <fieldText>&lt;p&gt;{!Get_Slots.defaultExc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>19</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Add_resource_and_territory_ids</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_req</name>
        <apexClass>ExternalService__Scheduler_getSlots_IN_generated</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_resourceIdsColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_territoryIdsColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
