force-app/main/default/flows/Set_Exchange_Rates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Latest_Rates</name>
        <label>Get Latest Rates</label>
        <locationX>227</locationX>
        <locationY>243</locationY>
        <actionName>ExchangeRate.getLatest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Set_AUD_Dated_Rate_Values</targetReference>
        </connector>
        <inputParameters>
            <name>base</name>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>symbols</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_AUD_To_Collection</name>
        <label>Add AUD To Collection</label>
        <locationX>460</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>var_DatedRatesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_datedRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_BRL_Dated_Rate_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_BRL_To_Collection</name>
        <label>Add BRL To Collection</label>
        <locationX>580</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>var_DatedRatesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_datedRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_EUR_Dated_Rate_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_EUR_To_Collection</name>
        <label>Add EUR To Collection</label>
        <locationX>747</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>var_DatedRatesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_datedRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dated_Conversion_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AUD_Dated_Rate_Values</name>
        <label>Set AUD Dated Rate Values</label>
        <locationX>370</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>var_datedRate.ConversionRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_audRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_datedRate.IsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_datedRate.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AUD_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BRL_Dated_Rate_Values</name>
        <label>Set BRL Dated Rate Values</label>
        <locationX>539</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>var_datedRate.ConversionRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_BRLrate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_datedRate.IsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BRL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_datedRate.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BRL_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EUR_Dated_Rate_Values</name>
        <label>Set EUR Dated Rate Values</label>
        <locationX>673</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>var_datedRate.ConversionRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_EURrate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_datedRate.IsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_datedRate.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_EUR_To_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>var_audRate</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_Latest_Rates.200.rates.AUD})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>var_BRLrate</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_Latest_Rates.200.rates.BRL})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>var_EURrate</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_Latest_Rates.200.rates.EUR})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Exchange Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Exchange Rates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Dated_Conversion_Rates</name>
        <label>Create Dated Conversion Rates</label>
        <locationX>691</locationX>
        <locationY>437</locationY>
        <inputReference>var_DatedRatesCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Latest_Rates</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_datedRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DatedConversionRate</objectType>
    </variables>
    <variables>
        <name>var_DatedRatesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DatedConversionRate</objectType>
    </variables>
</Flow>
